#pori_alonaati {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.pori-alonaati a {
	cursor: pointer;
}

.pori-upload {
	top: 50px;
	position: relative;
}

.clipboard-shomare-cart {
	margin-top: 28px;
	display: flex;
}

#PoriInput {
	margin-left: 10px;
	background: #22b58b;
	color: #fff;
}

.clipboard-shomare-cart button {
	background: #22b58b;
	color: #fff;
	border-radius: 8px;
}

.pori-alonaati a {
	background: #ffc600;
	color: #fff;
	font-size: 15px;
	padding: 4px 15px;
	border-radius: 3px;
}

.pori-alonaati {
	margin-top: 15px;
}

.img-cart {
  margin: 13px 0;
}
